.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
