header{
  .header__lang {
    --lang-width: 25px;

    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      height: var(--lang-width);
      width: var(--lang-width);
      margin-right: 10px;
    }
  }
}

.header__langs {
  position: absolute;
  top: 40px;
  right: -10px;

  background-color: var(--creame-color);
  padding: 15px 0;
  border-radius: 20px;

  a {
    display: block;
    width: calc(100% - 60px);
    padding: 5px 30px;

    &:hover {
      background-color: var(--white-color);
    }
  }
}
